    <section>
        <div class="container">
            <div class="row">
                <article class="primary col-md-8">
                    <h2><a href="#">Article Post Title</a></h2>

                    <div class="entry-meta">
                        <a href="#">February 31, 2013</time></a>
                    </div><!-- .entry-meta -->

                    <div class="comments-link">
                        <a href="#"><span class="leave-reply">Reply</span></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate sunt in culpa qui officia deserunt mollit anim id est laborum … <a href="#">Read More</a>
                    </p>
                    <div class="entry-meta">
                        <span class="cat-links">Posted in <a href="#">Uncategorized</a></span> |
                        <span class="comments-link"><a href="#">Leave a reply</a></span>
                    </div><!-- #entry-meta -->
                </article>

                <div class="secondary col-md-4">
                    <aside>
                        <h3>Sample Title</h3>
                        <ul class="menu">
                            <li class="current-menu-item"><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                        </ul>
                    </aside>
                </div><!-- /.col4 #secondary -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="secondary col-md-4">
                    <aside>
                        <h3>Sample Title</h3>
                        <ul class="menu">
                            <li class="current-menu-item"><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                        </ul>
                    </aside>
                </div><!-- /.col4 #secondary -->

                <article class="primary col-md-8">
                    <h2><a href="#">Article Post Title</a></h2>

                    <div class="entry-meta">
                        <a href="#">February 31, 2013</time></a>
                    </div><!-- .entry-meta -->

                    <div class="comments-link">
                        <a href="#"><span class="leave-reply">Reply</span></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate sunt in culpa qui officia deserunt mollit anim id est laborum … <a href="#">Read More</a>
                    </p>
                    <div class="entry-meta">
                        <span class="cat-links">Posted in <a href="#">Uncategorized</a></span> |
                        <span class="comments-link"><a href="#">Leave a reply</a></span>
                    </div><!-- #entry-meta -->
                </article>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <article class="col-md-7">
                    <h2><a href="#">Example Title</a></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate sunt in culpa qui officia deserunt mollit anim id est laborum … <a href="#">Read More</a>
                    </p>
                </article>

                <div class="col-md-5 img-fit">
                    <img src="assets/images/sample-img.jpg" alt="">
                </div><!-- /.col4 #secondary -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
