
<section>
    <div class="container">
        <div class="row gallery-area">
            <div class="col-md-4" ng-repeat="img in imgs">
                <div class="image-item">
                    <div class="image image-hover-fx">
                        <img ng-src="{{img.src}}" alt="">
                        <div class="image-overlay"></div>
                        <a href="assets/img/portfolio/photo (1).jpg" rel="prettyPhoto[pp_gal]" class="portfolio-zoom"><i class="fa fa-eye"></i></a>
                        <p class="title-fx">{{img.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section>
