<section>
  <div class="container">
        <h1>Contact</h1>
        <div class="row">
            <div class="col-md-6" ng-controller="ContactController">
                <form ng-submit="submit(contactform)" id="contactform" name="contactform" method="post" action="" role="form" novalidate>
                    <div class="form-group">
                        <input type="text" id="inputName" name="inputName" ng-model="formData.inputName" ng-minlength="3" placeholder="Name" required>
                        <span class="help-block" ng-show="contactform.inputName.$error.minlength">Enter a full name</span>
                    </div>
                    <div class="form-group">
                        <input type="email" id="inputEmail" name="inputEmail" ng-model="formData.inputEmail" placeholder="Email" required>
                        <span class="help-block" ng-show="contactform.inputEmail.$error.email">Not an email</span>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="formData.inputPhone" id="inputPhone" name="inputPhone" ng-pattern="/^[0-9.-]{7,14}$/" placeholder="Phone" required>
                        <span class="help-block" ng-show="contactform.inputPhone.$dirty && contactform.inputPhone.$error.pattern">Enter a phone number</span>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="formData.inputCompany" id="inputCompany" name="inputCompany" placeholder="Company">
                    </div>
                    <div class="form-group">
                        <select name="inputSelect" id="inputSelect" ng-model="formData.inputSelect">
                            <option value="Mike Jones">Mike Jones</option>
                            <option value="Paul Wall">Paul Wall</option>
                            <option value="Slim Thug">Slim Thug</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea ng-model="formData.inputMessage" id="inputMessage" name="inputMessage" placeholder="Message"></textarea>
                    </div>
                    <input id="submit" name="submit" type="submit" value="Submit" ng-disabled="submitButtonDisabled" class="pull-right">
                </form>

                <div class="clear"></div>
                <div class="success-box">
                    <p ng-class="result">{{ resultMessage }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Get in touch with us</h3>
                <hr>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolor eligendi veniam illum facere molestiae cumque quia earum praesentium provident.</p>
                <p><span class="glyphicon glyphicon-inbox"></span> <a href="mailto:info@companyname.com">info@companyname.com</a></p>
                <p><span class="glyphicon glyphicon-phone-alt"></span> 416-555-5555</p>
                <p><span class="glyphicon glyphicon-home"></span> 767 Home Ave.<br>
                    Toronto, ON A1A 1A1</p>
                <div class="spacing-container">
                    <h4>Stay social</h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 social">
                            <a href="#" class="block-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="block-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="block-icon"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="block-icon"><i class="fa fa-pinterest"></i></a>
                        </div> <!-- end social-contact -->
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </div>
</section>

