
<section>
        <div class="container">
            <div class="row text-center cta">
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="block-body">
                        <h3>Creative design</h3>
                        <div class="line-subtitle"></div>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="block-body">
                        <h3>Built for humans</h3>
                        <div class="line-subtitle"></div>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="block-body">
                        <h3>Easy customization</h3>
                        <div class="line-subtitle"></div>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </section>

    <section>
        <div class="container">
            <div class="row cta">
                <div class="col-md-4" ng-repeat="img in imgs">
                    <div class="image-item">
                        <div class="image image-hover-fx">
                            <img ng-src="{{img.src}}" alt="">
                            <div class="image-overlay"></div>
                            <a href="assets/img/portfolio/photo (1).jpg" rel="prettyPhoto[pp_gal]" class="portfolio-zoom"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>

                    <h3>{{img.title}}</h3>
                    <p>{{img.description}} </p>
                    <a href="">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div><!-- /.container -->
    </section>


    <section>
        <div class="container">
            <div class="row gallery-area">
                <div class="col-md-4" ng-repeat="img in imgs">
                    <div class="image-item">
                        <div class="image image-hover-fx">
                            <img ng-src="{{img.src}}" alt="">
                            <div class="image-overlay"></div>
                            <a href="assets/img/portfolio/photo (1).jpg" rel="prettyPhoto[pp_gal]" class="portfolio-zoom"><i class="fa fa-eye"></i></a>
                            <p class="title-fx">{{img.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <article class="primary col-md-8">
                    <h2><a href="#">Article Post Title</a></h2>

                    <div class="entry-meta">
                        <a href="#">February 31, 2013</time></a>
                    </div><!-- .entry-meta -->

                    <div class="comments-link">
                        <a href="#"><span class="leave-reply">Reply</span></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate sunt in culpa qui officia deserunt mollit anim id est laborum … <a href="#">Read More</a>
                    </p>
                    <div class="entry-meta">
                        <span class="cat-links">Posted in <a href="#">Uncategorized</a></span> |
                        <span class="comments-link"><a href="#">Leave a reply</a></span>
                    </div><!-- #entry-meta -->
                </article>

                <div class="secondary col-md-4">
                    <aside>
                        <h3>Sample Title</h3>
                        <ul class="menu">
                            <li class="current-menu-item"><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                        </ul>
                    </aside>
                </div><!-- /.col4 #secondary -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="secondary col-md-4">
                    <aside>
                        <h3>Sample Title</h3>
                        <ul class="menu">
                            <li class="current-menu-item"><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                            <li><a href="#">Product Category</a></li>
                        </ul>
                    </aside>
                </div><!-- /.col4 #secondary -->

                <article class="primary col-md-8">
                    <h2><a href="#">Article Post Title</a></h2>

                    <div class="entry-meta">
                        <a href="#">February 31, 2013</time></a>
                    </div><!-- .entry-meta -->

                    <div class="comments-link">
                        <a href="#"><span class="leave-reply">Reply</span></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate sunt in culpa qui officia deserunt mollit anim id est laborum … <a href="#">Read More</a>
                    </p>
                    <div class="entry-meta">
                        <span class="cat-links">Posted in <a href="#">Uncategorized</a></span> |
                        <span class="comments-link"><a href="#">Leave a reply</a></span>
                    </div><!-- #entry-meta -->
                </article>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <article class="col-md-7">
                    <h2><a href="#">Example Title</a></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate sunt in culpa qui officia deserunt mollit anim id est laborum … <a href="#">Read More</a>
                    </p>
                </article>

                <div class="col-md-5 img-fit">
                    <img src="assets/images/sample-img.jpg" alt="">
                </div><!-- /.col4 #secondary -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section>
        <div class="container">
            <div class="row contact-form">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Phone">
                        </div>
                        <div class="col-md-6">
                            <textarea name="" id="" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.container -->
    </section>


<div class="container">




<!--
    * There are 3 ways of binding content from a controller to your view.
    * First and most used method is using double curly braces, like this {{ name }}
 -->
<h2>{{ title }}</h2>

<!--
    * The other two methods are ng-bind, and ng-bind-html. Those are used as attributes
    * of your HTML tag, like the example below. The difference between, ng-bind and ng-bind-html
    * is that ng-bind-html renders HTML tags. Because of that it must be used carefully, its mandatory
    * that you verify the content of any content that will be used with ng-bind-html.
 -->
<p ng-bind="content"></p>

<!--
    * In the following example I'm using a filter to convert a UNIX timestamp
    * into a human readable format like Oct 28, 2014 12:22 PM
 -->
<small>Created on: {{ createdAt | date : 'medium' }}</small>

<hr/>

<h2>Example of a list of posts</h2>


<!--
    * When we want to loop through a set of data we use ng-repeat.
    * In the example below we are looping through an array of posts
    * and displaying each post's title, content and creation date.
 -->

 <!-- This block will repeat for each post -->
<div ng-repeat="post in posts">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <small>Created on: {{ post.createdAt | date : 'medium' }}</small>
</div>
<!-- End of repeat block -->

<hr/>

<h2>Add new post </h2>
<!--
    * In order to send data from the view to controller we use ng-model.
    * For example, if one create a input field with the attribute
    * ng-model="name", the information typed in the field will be
    * automagically available in you controller in $scope.name
    * In the example below, we are creating an object to contain the user's
    * submitted information, something like:
    * $scope.newPost = {
    *   title: "Whatever the user type",
    *   content: "Again, whatever the user typed"
    * }
 -->
<form class="form-horizontal">
    <fieldset>

        <legend>Add New Post</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>
            <div class="col-md-5">
                <input ng-model="newPost.title" id="title" name="title" type="text" placeholder="place your title here" class="form-control input-md">
<!--                   Λ
    *                  |
    *                  ng-model is used to bind the information
    *                  typed in this field to a variable in the
    *                  controller called $scope.newPost.title
 -->
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="content">Content</label>
            <div class="col-md-4">
                <textarea ng-model="newPost.content" class="form-control" id="content" name="content"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-8">
                <!--
                    * Angular has a directive to bind actions to clicks, its called ng-click
                    * Below we are using ng-click to call a function in our controller called
                    * savePost(), this function must be declared in our controller like this:
                    * $scope.savePost = function(){ 'do something here' };
                 -->
                <button ng-click="savePost()" class="btn btn-success">Save</button>

                <!--
                    * For the clear button instead of using a function to clear the fields
                    * I'm just erasing the content of newPost, you can do that by assign
                    * a blank object to newPost, like this: newPost = {};
                 -->
                <button ng-click="newPost = {}" class="btn btn-danger">Clear</button>
            </div>
        </div>

    </fieldset>
</form>

</div>
